<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= choice %></p>
    <form class="countries">
      <input type="radio" name="region" id="africa" value="africa"><label for="africa">Africa</label><br>
      <input type="radio" name="region" id="americas" value="americas"><label for="americas">Americas</label><br>
      <input type="radio" name="region" id="asia" value="asia"><label for="asia">Asia</label><br>
      <input type="radio" name="region" id="oceania" value="oceania"><label for="oceania">Oceania</label><br>
      <input type="radio" name="region" id="europe" value="europe"><label for="europe">Europe</label>
    </form>
    <br>
    <div class="answ"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
