<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>
      <p><%= phrase %></p>
      <a href="javascript:window.location.reload();">Refresh picture</a>
      <br>
      <img src="<%= message  %> " alt="random-dog">
    </div>
  </body>
</html>
