<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Enter your data</p>
    <form>
      <label for="authorName">Author`s name:</label>
      <input type="text" name="authorName" id="authorName">
      <br>
      <br>
      <label for="date">Date:</label>
      <input type="text" name="date" id="date">
      <br>
      <br>
      <label for="article">Enter your data:</label>
      <br>
      <br>
      <textarea name="article" id="article" cols="30" rows="10"></textarea>
      <br>
      <br>
      <button type="submit">Send</button>
    </form>
    <br>
    <br>
    <div class="answ"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
